
@{
    ViewBag.Title = "Study List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/StudyControllerjs")
<script>
   
    $("document").ready(function () {
        com.StudyController().Load();
    });
</script>

<div>

    <div title="DataGrid" style="padding:5px">
        <table id="list_data">
            <thead>
                <tr>
                    <th data-options="field:'Id'" width="80">Item ID</th>
                    <th data-options="field:'StudyNum'" width="100">Study No</th>
                    <th data-options="field:'ShortTitle'" width="100">Short Title</th>
                    <th data-options="field:'Status'" width="100">Status</th>
                </tr>
            </thead>
        </table>
    </div>
    <div id="add_dialog" class="common-dialog" data-options="iconCls:'icon-save'">
        <div class="easyui-tabs" id="studyTabs">
            <div title="Basic Information" id="basicinfo">
                <form id="userform" method="post">
                    <input type="hidden" name="Id" id="Id" />
                    <input type="hidden" name="Active" id="Active" value="true" />
                    <table class="dialog-content">
                        <tr>
                            <td>
                                <label class="textbox-label">* Study No</label>
                            </td>
                            <td>
                                <input class="textbox easyui-validatebox" data-options="required:true" type="text" name="StudyNum" id="StudyNum" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="textbox-label">* Short Title</label>
                            </td>
                            <td>
                                <input class="textbox easyui-validatebox" data-options="required:true" type="text" id="ShortTitle" name="ShortTitle" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="textbox-label">Status</label>
                            </td>
                            <td>
                                <select class="combobox" panelheight="auto" type="text" id="Status" name="Status" />
                            </td>
                        </tr>
                    </table>

                </form>
            </div>
            <div title="Trial Reginal" id="trialregional">
                <div title="DataGrid" style="padding:5px">
                    <table id="reginal_data">
                        <thead>
                            <tr>
                                <th data-options="field:'Id'" width="80">Id</th>
                                <th data-options="field:'CountryName'" width="100">CountryName</th>
                                <th data-options="field:'OwnerName'" width="100">OwnerName</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div title="Trial Member" id="trialmember">
                <div title="DataGrid" style="padding:5px">
                    <table id="member_data">
                        <thead>
                            <tr>

                                <th data-options="field:'MemberName'" width="100">Member Name</th>
                                <th data-options="field:'CountryName'" width="100">Country Name</th>
                                <th data-options="field:'SiteName'" width="100">Site Name</th>
                                <th data-options="field:'Role'" width="100">Role</th>
                                <th data-options="field:'RoleLevel'" width="100">Role Level</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

            <div title="Trial Model Reference" id="trialTemplates">
                <div title="DataGrid" style="padding:5px">
                    <table id="temlate_data">
                        <thead>
                            <tr>
                                <th data-options="field:'ZoneNo'" width="100">Zone No</th>
                                <th data-options="field:'ZoneName'" width="200">Zone Name</th>
                                <th data-options="field:'SectionNo'" width="100">Section No</th>
                                <th data-options="field:'SectionName'" width="200">Section Name</th>
                                <th data-options="field:'ArtifactNo'" width="100">Artifact No</th>
                                <th data-options="field:'ArtifactName'" width="200">Artifact Name</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

            <div title="Trial Site" id="trialSite">
                <div title="DataGrid" style="padding:5px">
                    <table id="site_data">
                        <thead>
                            <tr>
                                <th data-options="field:'SiteNum'" width="100">Site Num</th>
                                <th data-options="field:'SiteName'" width="100">Site Name</th>
                                <th data-options="field:'OwnerName'" width="100">Site Owner</th>
                                <th data-options="field:'CountryName'" width="100">Site Country</th>
                                <th data-options="field:'Status'" width="100">Status</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>


    </div>
      @Html.Partial("_StudyPartialView");
    </div>
 

