body {
}

.loginpanel{
    
    width:350px!important;
        margin-top: 200px;
    margin-left: 500px;
}

.loginlabel{
    padding-left:20px
}
.loginitem{
    margin-top:20px
}
.loginbuttons{
    padding-left:50px;
    padding-right:50px
}

.loginbutton{
    padding-left:20px;
    padding-right:20px;
    background-color:lightblue;
    color:white;
    margin-right:10px;
    border-radius:5px;
     margin-bottom:20px;
     height:30px
}

 .common-dialog{
         width:400px;
         height:400px;
         padding:10px;
         display:none
    }
 .textbox , .combobox{
     min-width:200px;
     height:20px;
 }

 