<div id="mileStone_dialog" class="common-dialog" data-options="iconCls:'icon-save'">
    <div title="DataGrid" style="padding:5px">
        <table id="mileStone_data">
            <thead>
                <tr>
                    <th data-options="field:'Title', editor: { type: 'text'}" width="100">Mile Stone Name</th>
                    <th data-options="field:'PlanStartDate', editor: { type: 'datebox'}" width="200">Plan Start Date</th>
                    <th data-options="field:'ActualStartDate', editor: { type: 'datebox'}" width="200">Actual Start Date</th>
                    <th data-options="field:'PlanEndDate', editor: { type: 'datebox'}" width="200">Plan End Date</th>
                    <th data-options="field:'ActualEndDate', editor: { type: 'datebox'}" width="200">Actual End Date</th>
                </tr>
            </thead>
        </table>
        <input type="hidden" id="StudySiteId" />
        <input type="hidden" id="StudyCountryId" />
        <input type="hidden" id="StudyId" />
        <input type="hidden" id="StoneType" />
    </div>
</div>