 

<div id="notify_dialog" class="common-dialog" data-options="iconCls:'icon-save'">
    <div title="DataGrid" style="padding:5px">
        <table id="notifyrule_data">
          
        </table>

        <input type="hidden" id="StudySiteId" name="StudySiteId" />
        <input type="hidden" id="StudyCountryId" name="StudyCountryId" />
        <input type="hidden" id="StudyId" name="StudyId" />
        <input type="hidden" id="StudyTMFId" name="StudyTMFId" />
        <div id="notifymenu" class="easyui-menu docstyle">
            <div data-options="iconCls:'icon-add'" class="notifymenuitems" id="notify_add">
                Add
            </div>
            <div data-options="iconCls:'icon-remove'" class="notifymenuitems" id="notify_remove">
                Remove
            </div>
        </div>
    </div>
</div>


